/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2018, 10:51:26 PM
    Author     : nicolasgutierrez
*/

html, body {
    height: 100%;
    width: 100%;
}

#home {
    background: url(../IMAGENESDISENIO/fondo.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#primerdiv {
    border-top-width: 200px;
    border-top-color: #fff;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
    color: #fff;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;

}

.padding {
    padding: 80px 0;
    background-color: #343233; 
}

.padding h2 {
    color: #f2d5a9;
    font-stretch: ultra-condensed;
    font-style: normal;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.padding p {
    color: #f2d5a9;
    font-weight: 100;
    font-size: 100%;
    letter-spacing: 0.05em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.padding2 {
    padding: 80px 0;
    background-color: #fff; 
}

.padding img {
    width: 80%;
}

.padding2 img {
    width: 80%;
}

@keyframes moverImagenesPadding{
    20%{
        transform: translate(8px,0px);
    }
    85%{
        transform: translate(-12px,0px);
    }
   
}

.padding2 img:hover {
    animation: moverImagenesPadding 1s;
}

#fixed {
    background: url(../IMAGENESDISENIO/concierto.png) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover; 
}

footer {
    width: 100%;
    background-color: #1b1c1b;
    padding: 3% 3% 2% 3%;
    color: #141614;   
}

.icon {
    max-width: 100px;
}

.icon:hover {
    max-width: 103px;
}

footer h3 {
    font-size: 150%;
    color: #fff;
}

footer h4 {
    font-size: 50%;
    color: #fff;
}

footer a {
    font-size: 100%;
    color: #fff;    
}

footer a:hover {
    color: #1b1c1b;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}

.imagen-svg {
    height: 100%;
    width: 100%;
    position: relative;
}

@keyframes moverNubes{
    20%{
        transform: translate(8px,0px);
    }
    85%{
        transform: translate(-12px,0px);
    }
}

.nubes {
    animation: moverNubes 20s infinite;
}

@keyframes moverNubes2{
    20%{
        transform: translate(8px,0px);
    }
    54%{
        transform: translate(-2px,12px);
    }
    85%{
        transform: translate(-12px,-10px);
    }
}

.nubes-oscuras {
    animation: moverNubes2 15s infinite;
}

@keyframes moverCirculoRojo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
   
}

.circulo-rojo-completo {
    animation: moverCirculoRojo 65s infinite; 
    transform-origin: center center;
}

@keyframes moverCirculoAmarillo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
   
}

.circulo-amarillo-completo {
    animation: moverCirculoAmarillo 95s infinite; 
    transform-origin: center center;
}

@keyframes moverCirculoAzul{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
   
}

.circulo-azul-completo {
    animation: moverCirculoAzul 52s infinite; 
    transform-origin: center center;
}

@keyframes moverNaranja{
    20%{
        transform: rotate(6deg);
    }
    75{
        transform: rotate(-6deg);
    }
}

.mv-naranja-transparente {
    animation: moverNaranja 40s infinite;
    transform-origin: center center;
}

@keyframes moverMI {
    15%{
       transform: translate(-8px,0px); 
    }
    30%{
       transform: translate(0px,10px); 
    }
    60%{
       transform: translate(-2px,-8px); 
    }
    75%{
       transform: translate(0px,-10px); 
    }    
    90%{
       transform: translate(10px,8px); 
    }
}

.mazcara-izquierda {
   animation: moverMI 50s infinite; 
}

@keyframes moverMD {
    15%{
       transform: translate(8px,0px); 
    }
    30%{
       transform: translate(0px,10px); 
    }
    60%{
       transform: translate(2px,-8px); 
    }
    75%{
       transform: translate(0px,-10px); 
    }    
    90%{
       transform: translate(-10px,8px); 
    }
}

.mazcara-derecha {
   animation: moverMD 50s infinite; 
}

@keyframes moverLamparilla{
    20%{
        transform: rotate(6deg);
    }
    75{
        transform: rotate(-6deg);
    }
}

.lamparilla-animada {
    animation: moverLamparilla 50s infinite;
    transform-origin: center center;
}

.padding h4 {
    color: #f2d5a9;
    font-weight: 200;
    font-size: 150%;
    letter-spacing: 0.05em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
